body{
    font-family: Arial, Helvetica, sans-serif;
    background:#fff9fe;
    margin: 0 auto 0 auto;  
    width:100%; 
    text-align:center;
    margin: 20px 0px 20px 0px;   
  }
  
  p{
    font-size:16px;
    text-decoration: none;
    color:#000000;
  }
  
  h1{
    font-size:1.5em;
    text-decoration: none;
    color:#000000;
  }


  .box{
    background:#fff9fe;
    width:350px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border:#fff9fe 4px solid; 
  }
  
  .email{
    background:#eceeee;
    border: #ccc 0px solid;
    border-bottom: #ccc 0px solid;
    padding: 15px;
    width:300px;
    color:#2c2c2c;
    margin-top:10px;
    font-size:1em;
    border-radius:15px;
  }

  .email:focus{
    outline: none;
    border-color: #5fb6fd;
    box-shadow: 0 0 10px #5fb6fd;
    transition: 0.8s;
  }

  .password{
    background:#eceeee;
    border: #ccc 0px solid;
    border-bottom: #ccc 0px solid;
    padding: 15px;
    width:300px;
    color:#2c2c2c;
    margin-top:10px;
    font-size:1em;
    border-radius:15px;
  }

  .password:focus{
    outline: none;
    border-color: #5fb6fd;
    box-shadow: 0 0 10px #5fb6fd;
    transition: 0.8s;
  }
  
  .btn{
    background:#ff7c7c; 
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:10px;
    border: #ff7c7c 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:30px;
    font-weight:800;
    font-size:0.9em;
    transition: 0.8s;
  }
  
  .btn:hover{
    background:#ff2424;
  }

  #btn2{
    background:#ff7c7c;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:10px;
    border: #ff7c7c 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    float:right;
    margin-right: 30px;
    font-weight:800;
    font-size:0.9em;
    transition: 0.8s;
  }
  
  #btn2:hover{ 
  background:#ff2424;
  }